{% trans_default_domain 'FOSUserBundle' %}
<link href="" rel="stylesheet">
{% stylesheets
'css/profile.css'
filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% javascripts
output='js/compiled/'
'Shop/js/modal.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('jquery.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li>
                <a data-toggle="tab" href="#home">
                    <i class="blue ace-icon fa fa-info bigger-120"></i>
                    Infos
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#friends">
                    <i class="blue ace-icon fa fa-users bigger-120"></i>
                    Friends
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#pictures">
                    <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                    Pictures
                </a>
            </li>
        </ul>

        <div class="tab-content no-border padding-24">
            <div id="home" class="tab-pane in active">
                <div class="row">
                    <br>
                    <div class="fb-timeline-img">
                        <img src="{{ asset('images/cover.jpg') }}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png">
							</span>

                        <div class="space space-4"></div>

                        <a href="#" class="btn btn-sm btn-block btn-success">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            <span class="bigger-110">Add as a friend</span>
                        </a>

                        <a href="#" class="btn btn-sm btn-block btn-primary">
                            <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                            <span class="bigger-110">Send a message</span>
                        </a>
                        <a href="#" class="btn btn-sm btn-block btn-primary">
                            <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                            <span class="bigger-110" data-toggle="modal" data-target="#groupeModal">Add Item for Sale</span>
                        </a>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="widget-title smaller">
                                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                    Little About Me
                                </h4>
                            </div>
                            <form id="form" name="form">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <input type="hidden" name="id" id="id" value="{{ user.id }}">
                                    <textarea name="description" style="width:250px;height:150px;border: none" id="description" readonly>{{ user.description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9">
                        <h4 class="blue">
                            <span class="label label-purple arrowed-in-right">
									<i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
									online
								</span>
                        </h4>
                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> UserName </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.username }}" name="username" id="username" readonly>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nom </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.nom }}" name="nom" id="nom" readonly>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Prenom </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.prenom }}" name="prenom" id="prenom" readonly>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Location </div>

                                <div class="profile-info-value">
                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                    <input type="text" value="{{ user.location }}" name="location" id="location" readonly>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Age </div>

                                <div class="profile-info-value">
                                    <input type="number" value="{{ user.age }}" name="age" id="age" readonly min="1">
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Joined </div>

                                <div class="profile-info-value">
                                    <input type="datetime" value="{{ user.joined }}" name="joined" id="joined" readonly>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nombre d'amis </div>

                                <div class="profile-info-value">
                                    <input type="number" value="{{ user.nbr_amis }}" name="nbr_amis" id="nbr_amis" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="hr hr-8 dotted"></div>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.email }}" name="email" id="email" readonly>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                                </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.facebook }}" name="facebook" id="facebook" readonly>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">
                                    <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                                </div>

                                <div class="profile-info-value">
                                    <input type="text" value="{{ user.twitter }}" name="twitter" id="twitter" readonly>
                                </div>
                            </div>
                        </div>
                            <button type="button" class="btn-danger" onclick="do_change(); return false ;">Modifier</button>
                            <button type="button" class="btn-success" id="btn2" style="display: none;" onclick="senddate()">Done</button>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                </form>

                <div class="space-20"></div>

            </div><!-- /#home -->

            <div id="friends" class="tab-pane">
                <div class="profile-users clearfix">
                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Bob Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-online"></span>
                                        Bob Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Content Editor</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                        <span class="green"> 20 mins ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Rose Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-offline"></span>
                                        Rose Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Graphic Designer</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                        <span class="grey"> 30 min ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="Jim Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-busy"></span>
                                        Jim Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">SEO &amp; Advertising</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 red"></i>
                                        <span class="grey"> 1 hour ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="Alex Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-idle"></span>
                                        Alex Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Marketing</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                        <span class=""> 40 minutes idle </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="Phil Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-online"></span>
                                        Phil Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Public Relations</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                        <span class="green"> 2 hours ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Susan Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-online"></span>
                                        Susan Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">HR Management</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                        <span class="green"> 20 mins ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Jennifer Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-offline"></span>
                                        Jennifer Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Graphic Designer</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                        <span class="grey"> 2 hours ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv memberdiv">
                        <div class="inline pos-rel">
                            <div class="user">
                                <a href="#">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="Alexa Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-offline"></span>
                                        Alexa Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Accounting</div>

                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                        <span class="grey"> 4 hours ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr hr10 hr-double"></div>

                <ul class="pager pull-right">
                    <li class="previous disabled">
                        <a href="#">← Prev</a>
                    </li>

                    <li class="next">
                        <a href="#">Next →</a>
                    </li>
                </ul>
            </div><!-- /#friends -->

            <div id="pictures" class="tab-pane">
                <ul class="ace-thumbnails">
                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/1/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/2/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/3/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/4/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/5/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/6/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/7/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="150x150" src="http://lorempixel.com/200/200/nature/1/">
                            <div class="text">
                                <div class="inner">Sample Caption on Hover</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div><!-- /#pictures -->
        </div>
    </div>
</div>
<!-- modal start -->
<div class="modal fade" id="groupeModal" tabindex="-1" role="dialog"
     aria-labelledby="groupeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"
                 style="text-align: left;background: #f6f7f9;border-bottom: 1px solid #999;">
                <h5 class="modal-title" id="exampleModalLabel"
                    style="font-weight: bold;font-size: 18px;">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="margin-top: -22px;;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(formm) }}
                <div class="form-group">
                    {{ form_row(formm.titre) }}
                </div>
                <div class="form-group">
                    {{ form_row(formm.prix) }}
                </div>
                <div class="form-group">
                    {{ form_row(formm.description) }}
                </div>
                <div class="form-group">
                    {{ form_row(formm.imageFile) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(formm.Add) }}
                </div>
            </div>

        </div>
    </div>
</div>

<script src="{{ asset('css/bootstrap.min.css') }}"></script>
<script type="text/javascript">
    function do_change(){
        document.getElementById("btn2").style.display = "";
        $("#username").prop('readonly', false);
        $("#nom").prop('readonly', false);
        $("#prenom").prop('readonly', false);
        $("#age").prop('readonly', false);
        $("#location").prop('readonly', false);
        $("#email").prop('readonly', false);
        $("#facebook").prop('readonly', false);
        $("#twitter").prop('readonly', false);
        $("#description").prop('readonly', false);
    }
    function disableinputs() {
        document.getElementById("btn2").style.display = "none";
        $("#username").prop('readonly', true);
        $("#nom").prop('readonly', true);
        $("#prenom").prop('readonly', true);
        $("#age").prop('readonly', true);
        $("#location").prop('readonly', true);
        $("#email").prop('readonly', true);
        $("#facebook").prop('readonly', true);
        $("#twitter").prop('readonly', true);
        $("#description").prop('readonly', true);
    }
    function senddate() {
        var username = document.getElementById("username").value;
        var nom = document.getElementById("nom").value;
        var prenom = document.getElementById("prenom").value;
        var age = document.getElementById("age").value;
        var location = document.getElementById("location").value;
        var email = document.getElementById("email").value;
        var facebook = document.getElementById("facebook").value;
        var twitter = document.getElementById("twitter").value;
        var description = document.getElementById("description").value;
        var id = document.getElementById("id").value;
            console.log("ajax sending data (edit form)..");
            $.ajax({
                url: "{{ path('fos_user_profile_x') }}",
                method: "post",
                data: {
                    id: id,
                    username: username,
                    nom: nom,
                    prenom: prenom,
                    age: age,
                    location: location,
                    email: email,
                    facebook: facebook,
                    twitter: twitter,
                    description: description
                }
            }).done(function () {
                disableinputs();
            });
    }
    $("#age").blur(function(){
        if($(this).val() == ''){
            $(this).css("border", "1px solid red");
        }
        else $(this).css("border", "");
    });

</script>
