{% extends '@Main/Default/base.html.twig' %}
{% block body %}
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('Shop/item/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Shop/item/default.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Shop/item/jquery.fancybox.css') }}" type="text/css">
    <body>
    <div id="itempage">
        <section id="itembody">
            <div class="wrapp group">
                <div class="post group">
                    <div class="box-hold group">
                        <article class="entry box format-standard">
                            <div class="entry-intro">
                                <h1>{{ itemm.titre }}</h1><span class="entry-meta">Posted by <strong>{{ user.username }}</strong>, at <time>{{ itemm.date|date('Y-m-d H:i:s') }}</time></span> <a class="single-heart-this" href="#" title="Love this." onclick="likeitem()">
                                    <span class="heart-icon"></span><span class="heart-no">{{ itemm.rating }}</span></a>
                            </div><!-- .entry-intro -->
                            <input type="hidden" value="{{ itemm.id }}" id="itemid">
                            <figure class="entry-image"><a href="{{app.request.basepath}}/uploads/{{ itemm.imageName }}" data-lightbox="fancybox"><img src="{{app.request.basepath}}/uploads/{{ itemm.imageName }}" alt=""></a></figure>

                            <div class="entry-content">
                            <p>{{ itemm.description }}</p>
                            </div>

                            <div class="social-share"></div>
                        </article>
                    </div><!-- .box-hold -->

                    <div class="box-hold">
                        <div class="box comment-form">
                            <div class="box-content">
                                <h3>Post your comment</h3>
                                {{ form(formComment) }}
                                    <fieldset>
                                  {{ form_row(formComment.description) }}
                                    </fieldset>
                                {{ form_widget(formComment.Submit) }}
                            </div>
                        </div>

                        <div class="box post-comments">
                            <div class="box-content">
                                <h3>{{ comments|length }}</h3>
                                <ol id="comment-list" class="group">
                                    {%for c in comments%}
                                    <li class="comment">
                                        <span class="comment-meta">Posted by <strong>{{ c.userid }}</strong>, at <time datetime="2012-08-07">{{ c.date|date('Y-m-d H:i:s') }}</time> &mdash; </span>

                                        <div class="comment-text group">
                                            <img class="avatar" src="{{ asset('images/ging.jpg') }}" alt="">

                                            <div class="comment-copy">
                                                <p>{{ c.description }}</p>
                                            </div>
                                        </div>
                                        <a class="comment-reply-link" href="#commentform">Reply</a>
                                    </li>
                                    {% endfor %}
                                </ol><a class="load-more-comments" href="#">View All Comments...</a>
                            </div>
                        </div>
                    </div><!-- .box-hold -->
                </div><!-- .inner-container -->
            </div><!-- .wrap < #main -->
        </section><!--  #main -->
    </div><!-- #page -->
    <script src="{{ asset('Shop/item/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Shop/item/jquery.isotope.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Shop/item/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Shop/item/jquery.flexslider-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Shop/item/jquery.formLabels1.0.js') }}" type="text/javascript"></script>
    <script defer src="{{ asset('Shop/item/scripts.js') }}" type="text/javascript"></script>
    <script>
        function likeitem() {
            var id = document.getElementById("itemid").value;
            console.log("ajax sending data (like item)..");
            $.ajax({
                url: "{{ path('likeitem') }}",
                method: "post",
                data: {
                    id: id
                }
            })
        }
        $(document).ajaxStop(function(){
            window.location.reload();
        });
    </script>
    </body>
{% endblock %}
