{% trans_default_domain 'FOSUserBundle' %}
<style>
    .top-content .text {
        color: #fff;
    }

<style>
    .top-content .text {
        color: #fff;

    }

    .top-content .text h1 { color: #fff; }

    .top-content .description {
        margin: 20px 0 10px 0;
    }
    .top-content .description p { opacity: 0.8; }

    .top-content .description a {
        color: #fff;
    }
    .top-content .description a:hover,
    .top-content .description a:focus { border-bottom: 1px dotted #fff; }

    .form-box {
        margin-top: 35px;
    }

    .form-top {
        overflow: hidden;
        padding: 0 25px 15px 25px;
        background: #fff;
        -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
        text-align: left;
    }

    .form-top-left {
        float: left;
        width: 75%;
        padding-top: 25px;
    }

    .form-top-left h3 { margin-top: 0; }

    .form-top-right {
        float: left;
        width: 25%;
        padding-top: 5px;
        font-size: 66px;
        color: #ddd;
        line-height: 100px;
        text-align: right;
    }

    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #eee;
        -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
        text-align: left;
    }

    .form-bottom form textarea {
        height: 100px;
    }

    .form-bottom form button.btn {
        width: 100%;
    }

    .form-bottom form .input-error {
        border-color: #de995e;
    }
    @media (min-width: 992px) and (max-width: 1199px) {}

    @media (min-width: 768px) and (max-width: 991px) {}

    @media (max-width: 767px) {

        .inner-bg { padding: 60px 0 110px 0; }

    }

    @media (max-width: 415px) {

        h1, h2 { font-size: 32px; }

    }
    strong { font-weight: 500; }

    a, a:hover, a:focus {
        color: #de995e;
        text-decoration: none;
        -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    }

    h1, h2 {
        margin-top: 10px;
        font-size: 38px;
        font-weight: 100;
        color: #555;
        line-height: 50px;
    }

    h3 {
        font-size: 22px;
        font-weight: 300;
        color: #555;
        line-height: 30px;
    }

    img { max-width: 100%; }

    ::-moz-selection { background: #de995e; color: #fff; text-shadow: none; }
    ::selection { background: #de995e; color: #fff; text-shadow: none; }
    input[type="text"],
    input[type="password"],
    textarea,
    textarea.form-control {
        height: 50px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;
        background: #f8f8f8;
        border: 3px solid #ddd;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px;
        color: #888;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
        -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    }

    textarea,
    textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus,
    textarea.form-control:focus {
        outline: 0;
        background: #fff;
        border: 3px solid #ccc;
        -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    }

    input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
    textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

    input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
    textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

    input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



    button.btn {
        height: 50px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;
        background: #de995e;
        border: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px;
        color: #fff;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        text-shadow: none;
        -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
        -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    }

    button.btn:hover { opacity: 0.6; color: #fff; }

    button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

    button.btn:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

    button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }
</style>

<div class="top-content">
<div class="inner-bg" style="">
<div class="col-sm-6 col-sm-offset-3 form-box">

    <div class="form-bottom">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label class="sr-only" for="form-username">{{ 'security.login.username'|trans }}</label>
                <input type="text"  name="_username" value="{{ last_username }}" required="required" placeholder="Username..." class="form-username form-control" id="form-username">
            </div>
            <div class="form-group">

                <label class="sr-only" for="form-password">{{ 'security.login.password'|trans }}</label>
                <input type="password"name="_password" required="required" placeholder="Password..." class="form-password form-control" id="form-password">
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </form>
    </div>
</div>
    </div>
    </div>
